*{
    font-family: Arial, Helvetica, sans-serif;
}
.advanced-logo{
    height: 50px;
    width: auto;
}

.favicon{
    height: 50px;
    width: 50px;
}

.grid{
    height: 20px;
    width: auto;
}

.header{
    text-align: right;
}

header ul li{
    display: inline-block;
    padding: 10px;
}

.footer{
    position: relative;
    top: 200px;
    text-align: left;
}
.foot li{
    display: inline-flex;
    padding: 20px;
}

h3{
    color: rgb(243, 104, 53);
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.upper-body{
    padding-top: 30px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

#left, #right{
    font-size: 19px;
    font-weight: bold;
}

.search-form{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.two{
    padding: 10px;
}

.one, .three{
    padding: 13px;
}

input[type="text"] {
    width: 28em;
    border: 2px solid black;
}