.header{
    margin: auto;
    text-align: end;
}

a:link{
    text-decoration: none; 
    color: black;
}

a:hover{
    text-decoration: underline;
}

.google_search{
    text-align: center;
    padding-left: 10px;
}

.buttons{
    text-align: center;
}

.footer{
    text-align: center;
}

.foot{
    align-items: 
}

input[type="text"]{
    width: 65%;
    height: 40px;
    border-radius: 25px;
    
}

input[type="text"]:focus{
    border: 3px solid rgb(208, 206, 206);
}

input[type="text"]:hover{
    background-color: whitesmoke;
}
