.header{
    margin: auto;
    text-align: right;
}

.google_search{
    text-align: center;
}

.buttons{
    text-align: center;
}

.footer{
    text-align: center;
}

input[type="text"]{
    width: 65%;
    border-radius: 15px;
    
}

input[type="text"]:focus{
    border: 3px solid rgb(208, 206, 206)
}

input[type="submit"]:hover{
    border: 2px solid gray;
}